{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Add User to {{ group_name }}</h1>
<body style="text-align: center;">
  <div class="well">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
</body>
{% endblock %}
