{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Dashboard</h3>

<div style="text-align: center;">
  <a style="text-align: center;" href="/pick_day">Rate a Day<a>
</div>
<div class="well" style="text-align: center;">
  {% for stat_element in dash_stats %}
  <p>{{ stat_element["stat_name"] ~ ': ' ~ stat_element["stat"] }}</p>
  {% endfor %}
</div>
<body>
  <div class="ct-chart ct-perfect-fourth"></div>
  <div class="table-well">
    <table id="index-table" class="display" data-order="[[ 0, &quot;desc&quot; ]]">
      <thead>
          <tr>
              <th>Day</th>
              <th>Rating</th>
              <th class="comments">Comments</th>
          </tr>
      </thead>
      <tbody>
        {% for rating in dash_info %}
          <tr>
              <td><a href={{ "/day_info_link?day={}".format(rating[2]) }}>{{ rating[0] }}</a></td>
              <td><a href={{ "/day_info_link?day={}".format(rating[2]) }}>{{ rating[1] }}</a></td>
              <td class="comments"><a href={{ "/day_info_link?day={}".format(rating[2]) }}>{{ rating[3] }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    var data = $.get('dash_data');
    var extract = data.done(function (response) {
      var obj = new BasicChart(response.x, response.y, "Days", "Rating");
      obj.createGraph();
    })
  </script>
</body>
{% endblock %}
