{% extends "base.html" %}

{% block content %}
<h2>Day Info for: {{ day_information['day'] }}</h2>
<body style="text-align: center;">
  <div class="well">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(size=32, value='') }}
            {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.comments.label }}<br>
            {{ form.comments(size=32, value='') }}
            {% for error in form.comments.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
</body>
{% endblock %}
